.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.search-input {
    width: 75%;
    padding: 0.75rem;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.search-input:focus {
    border-color: #0B5ED7;
    outline: none;
}