#section3 .boxes{

    margin: 0 60px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
    gap: 30px;
}

#section4 .images {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

#section5 .boxes{
    margin: 0 60px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 30px;
}


#section6 .box{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    margin: 60px;
    justify-content: space-between;
}

#section7 .container .boxes {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 20px;
    justify-content: space-between;
}

#section8 .cards {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    padding: 0 40px;
}

#section9 .container .images {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    margin: 0 auto;
}



#section10 .container .footer{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    gap: 20px;
}

@media only screen and (max-width: 1023px) {
    #section5 .boxes{
        grid-template-columns: 47% 47%;
    }

    #section7 .container .boxes{
        grid-template-columns: 32% 32% 32%;
    }
    #section9 .container .images img{
        width: 100px;
    }

}

@media only screen and (max-width: 763px) {
    #section3 .boxes{
        grid-template-columns: 100%;
    }
    
    #section4 .images {
        grid-template-columns: 100%;
    }

    #section5 .boxes{
        grid-template-columns: 100%;
    }
    #section6 .box{
        grid-template-columns: 30% 30% 30%;
        gap: 30px;
    }

    #section6 .box .numbersandtexts h2
    {
        font-size: 2rem;
    }

    #section6 .box .numbersandtexts p{
        font-size: 0.5rem;
        
    }

    #section7 .container .boxes{
        grid-template-columns: 100%;
    }

    #section8 .cards{
        grid-template-columns: 100%;
    }

    #section9 .container .images {
        grid-template-columns: auto auto auto;

    }

    #section9 .container .images img{
        width: 40px;
    }

    #section10 .container .footer{

    }
    .container .Texts{
        grid-template-columns: 100%;
        
    }

    .container .Texts h1 {
        font-size: 1.5rem;
    }

    #section2 .HeadingTexts h1{
        font-size: 2.5rem;
    }

    #section2 .HeadingTexts #YellowBckh1 {
        background-color: aqua;
    }

    #section1 .headertop ul li .visible {
        display: block;

    }

    #section1 ul li a{
        
        display: none;
    }

    
}
